<html lang='en'>
  <head>
    <style>
      body { margin: 0px; padding: 0px; } .headDiv { width: 100%; height: 120px; background: #F9FAFB; text-align:
      center; font-size: 16px; font-weight: 500; } .code { font-size: 20px; font-weight: 600}
    </style>
  </head>
  <body>
    <p class='headDiv'>Здравствуйте! Вы пытаетесь войти в личный кабинет Ozon. Вот ваш код для входа.
      <span class='code'> {{code}}</div>
    </p>
  </body>
</html>